.intro-wrapper {
    display: flex;
    margin: 0;
    padding: 0;
    z-index: -1000;
    flex-direction: column;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    background-image: url("https://res.cloudinary.com/diyrxbb9o/image/upload/v1553450606/demo/bicycle-bike-cycling-4472.jpg");
    width: 100%;
    position: absolute;
    height: 100%;
    background-position: 0% 90%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.intro-create-team {
    position: absolute;
    top: 50%;
    left: 50%;
    color: #2f3133;
    text-align: center;
    transform: translate(-50%, -50%);
}

.msg-intro-create {
    margin: 10px auto;
    font-family: 'Roboto', sans-serif;
    line-height: 22pt;
    display: flex;
    flex-direction: column;
    text-align: left
}
.pointer-intro{
    margin-left: 10px;
}
.next-btn-intro {
    float: right;
    background: #34495e;
    border-radius: 11px;
    cursor: pointer;
    color: #ffffff;
    outline: none;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    padding: 14px 38px;
    border: none;
    text-decoration: none;
}



.next-btn-intro:hover {
    background-color: #80b5ea;
}
.icon-start-intro{
    margin-left: 3px;
    font-size: 15px
}
.next-btn-intro:active {
    position: relative;
    top: 1px;
}

.btn-wrapper-intro {
    position: relative;
    display: block;
}

@media screen and (max-width:800px) {
    .intro-create-team {
        margin: 0px auto;
        position: absolute;
        top: 280px;
        padding: 0 20px;
        width: 100%;
    }
}