.ErrorMsg {
    margin: auto;
    text-align: center;
    box-sizing: border-box;
    text-transform: uppercase
}

.btn-error {
    border: none;
    color: black;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px 126px;
    text-align: center;
    margin: 10px;
    font-weight: bold;
    border-radius: 4px;
    color: #34495e;
}