.main-date-time {
    display: flex;
    margin: 0;
    padding: 0;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    background-image: url("../../../assest/pexels-photo-449609.jpeg");
    width: 100%;
    position: absolute;
    height: 100%;
    background-position: 0% 50%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.main-controller-date-time-left {
    display: -webkit-flex;
    display: flex;
    width: 50%;
}

.main-controller-date-time-left-right {
    margin: 40px auto;
    padding: 0;
    left: 100px;
    width: 50%;
    position: relative;
}

.weekly-choice-date-time {
    margin: -30px auto;
    width: 60%;
    align-items: flex-start;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #2c3e50;
    height: 69%;
}

.monthly-choice-date-time {
    background-color: #2c3e50;
}

.start-time-div {
    z-index: 1;
    position: relative;
}

.rc-time-picker-input::placeholder {
    color: black;
}

.end-time-div {
    z-index: 1;
    position: relative;
}

.time-picker-general-wrapper {
    display: flex;
    flex-direction: column;
    margin: 10px auto;
    z-index: 800;
    position: relative;
}

.radio-btn-date-time-wrapper {
    box-sizing: border-box;
    width: 198px;
    position: relative;
    padding: 0 10px;
    margin: 20px auto;
    background: #2c3e50;
}

.msg-date-time-contral-wrapper {
    display: flex;
    flex-direction: column-reverse;
    width: 50%;
}

.msg-date-time-contral-wrapper .msg {
    width: 25%;
    top: 15%;
    padding: 20px;
    border: 1px solid black;
    left: 69%;
    position: absolute;
}

.contral-team-date-time {
    position: relative;
    top: -200px;
    left: 40px;
}

.single-date-time-radio {
    padding: 10px 10px;
    width: 20px;
    color: #fff
}

.radio-btn-date-time {
    display: flex;
    font-weight: 700;
    flex-direction: column;
    border: 1px solid black;
    width: 100%;
    box-sizing: border-box;
    padding: 10px;
}

.start-time-date-time, .end-time-date-time {
    background: #2c3e50;
    padding: 20px;
    margin: 10px 100px;
}

.label-time-picker-start, .label-time-picker-end {
    top: 10px;
    left: -48px;
    color: white;
    position: relative;
    font-weight: 1000;
}

.DayPicker-wrapper{
  color: #fff  
}
.reset-date-input {
    width: 100%;
    padding: 10px 10px;
    line-height: 30px;
    color: black;
    font-weight: 700;
    outline: none;
    border: none;
    font-size: 20px;
    background-color: #0000FF;
    margin: 0px auto;
    text-align: center;
}

.label-day-picker-checkbox {
    font-weight: 500;
    font-size: 20px;
    color: #fff
}

.date-selected {
    background: blue;
}

@media screen and (max-width:800px) {
    .main-date-time {
        display: -webkit-flex;
        display: flex;
        position: relative;
        justify-content: space-around;
        align-items: center;
        object-fit: cover;
        min-height: 700px
    }
    .msg-date-time-contral-wrapper {
        flex-direction: column;
        display: block;
    }
    .time-picker-general-wrapper {
        display: -webkit-flex;
        display: flex;
        top: 0px;
        -webkit-flex-direction: column;
        flex-direction: column-reverse;
        margin: 10px auto;
        z-index: 800;
        width: 100%;
        position: relative;
        left: 0;
    }
   
    a .rc-time-picker-clear {
        display: none !important;
    }
    .rc-time-picker-input {
        width: 80px;
    }
    .main-controller-date-time-left {
        flex-direction: column;
        top: 0px;
        position: relative;
        margin: 108px auto;
    }
    .main-controller-date-time-left-right {
        top: -199px;
        position: relative;
        left: 13px;
        width: 100%;
        z-index: 999;
    }
    .contral-team-date-time {
        position: absolute;
        top: 643px;
        margin: auto;
        width: 100%;
        left: 0px
    }
    .label-time-picker-start, .label-time-picker-end {
        top: 10px;
        left: 69px;
        color: white;
        position: relative;
        font-weight: 1000;
    }
    .msg-date-time-contral-wrapper .msg {
        width: 100%;
        top: 0;
        margin: 10px auto;
        text-align: center;
        padding: 10px;
        left: 0;
    }
    .end-time-div {
        z-index: 1;
        position: relative;
        width: 150px;
        top: -28px;
        left: 108px;
    }
    .start-time-div {
        z-index: 1;
        position: relative;
        margin: 10px auto;
        width: 150px;
        left: 88px;
        top: -291px;
    }
    .radio-btn-date-time-wrapper {
        box-sizing: border-box;
        width: 146px;
        top: 0;
        left: 0px;
        position: relative;
        padding: 0 10px;
        margin: 3px auto;
        background: #2c3e50;
    }
    .monthly-choice-date-time {
        background-color: #2c3e50;
        width: 180%;
        margin: auto;
        top: -35px;
        position: relative;
    }
    .weekly-choice-date-time {
        width: 180% !important;
        display: flex;
        flex-wrap: wrap;
        z-index: 999;
        flex-direction: row;
    }
    .checkbox-days-date-time {
        width: 50%;
    }
}