.tabs-style-linebox nav ul li {
	margin: 0 0.5em;
	-webkit-flex: none;
	flex: none;
}

.mobile-tabs {
	display: none
}

.tabs-style-linebox nav a {
	padding: 0 1.5em;
	color: #74777b;
	font-weight: 700;
	-webkit-transition: color 0.3s;
	transition: color 0.3s;
}

.tabs-style-linebox nav a:hover, .tabs-style-linebox nav a:focus {
	color: #2CC185;
}

.tabs-style-linebox nav li.tab-current a {
	color: #fff;
}

.tabs-style-linebox nav a::after {
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	background: #d2d8d6;
	content: '';
	-webkit-transition: background-color 0.3s, -webkit-transform 0.3s;
	transition: background-color 0.3s, transform 0.3s;
	-webkit-transition-timing-function: ease, cubic-bezier(0.7, 0, 0.3, 1);
	transition-timing-function: ease, cubic-bezier(0.7, 0, 0.3, 1);
	-webkit-transform: translate3d(0, 100%, 0) translate3d(0, -3px, 0);
	transform: translate3d(0, 100%, 0) translate3d(0, -3px, 0);
}

.tabs-style-linebox nav li.tab-current a::after {
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
}

.tabs-style-linebox nav a:hover::after, .tabs-style-linebox nav a:focus::after, .tabs-style-linebox nav li.tab-current a::after {
	background: #2CC185;
}

.tabs {
	position: relative;
	overflow: hidden;
	margin: 0 auto;
	width: 50%;
	font-weight: 300;
	font-size: 1.25em;
}

/* Nav */

.tabs nav {
	text-align: center;
}

.tabs nav ul {
	position: relative;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: flex;
	margin: 0 auto;
	padding: 0;
	max-width: 1200px;
	list-style: none;
	-ms-box-orient: horizontal;
	-ms-box-pack: center;
	-webkit-flex-flow: row wrap;
	-moz-flex-flow: row wrap;
	-ms-flex-flow: row wrap;
	flex-flow: row wrap;
	-webkit-justify-content: center;
	-moz-justify-content: center;
	-ms-justify-content: center;
	justify-content: center;
}

.tabs nav ul li {
	position: relative;
	z-index: 1;
	display: block;
	margin: 0;
	text-align: center;
	-webkit-flex: 1;
	-moz-flex: 1;
	-ms-flex: 1;
	flex: 1;
}

.tabs nav a {
	position: relative;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	line-height: 2.5;
}

.tabs nav a span {
	vertical-align: middle;
	font-size: 0.75em;
}

.tabs nav li.tab-current a {
	color: #74777b;
}

.tabs nav a:focus {
	outline: none;
}

.home-tab::after {
	content: "Home"
}

.home-tab::before {
	content: "";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	content: "\f015";
}

.join-team-tab::after {
	content: "Search for Team"
}

.mobile-tabs {
	display: none;
}

.join-team-tab::before {
	content: "";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	content: "\f500";
}

.search-teams-tab::after {
	content: "Search A Team"
}

.search-teams-tab::before {
	content: "";
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	content: "\f002";
}

.your-teams-tab::after {
	content: "Your Team"
}

.your-teams-tab::before {
	
	font-family: "Font Awesome 5 Free";
	font-weight: 900;
	content: "\f500";
}

@media screen and (max-width:800px) {
	.tabs {
		display: none !important;
		position: absolute;
		z-index: 500
	}
	li {
		margin: 50px auto;
	}
	.btnc {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 100;
	}
	.mobile-tabs {
		display: block !important;
		float: left;
		margin-left: -100px;
		width: 100px;
		z-index: 999;
		display: block;
		height: 100%;
		background: #2c3e50;
		overflow: hidden;
		transition: 0.8s all;
	}
	.mobile-tabs-open {
		display: block !important;
		float: left;
		margin-left: 0px;
		width: 100px;
		z-index: 999;
		position: absolute !important;
		height: 100%;
		background: #2c3e50;
		overflow: hidden;
		transition: 0.8s all;
	}
	.search-teams-tab, .your-teams-tab, .home-tab {
		color: #fff;
		flex: 1;
	}
	.search-teams-tab::after, .your-teams-tab::after, .home-tab::after {
		content: ""
	}
	.mobile-tabs nav ul {
		margin: 0;
		padding: 0;
	}
	.mobile-tabs nav ul {
		list-style: none;
	}
	.mobile-tabs nav ul li span {
		text-decoration: none !important;
		color: #fff;
		height: 100%;
		width: 100%;
		font-size: 20px;
		line-height: 40px;
		text-align: center;
		display: block;
		transition: 0.6s all;
	}
	.mobile-tabs nav ul li span :hover {
		background: #34495e;
	}
	.btn-tab-mobile {
		float: left;
		padding: 0 10px;
		font-size: 30px;
		position: absolute !important;
		cursor: pointer;
		top: 0;
		z-index: 1000;
		margin: 2px;
		left: 24px;
		text-decoration: none;
		background-color: #34495e;
		color: #fff;
	}
	.btn-tab-mobile::before {
		content: "\f00d";
		color: #fff;
		font-family: "Font Awesome 5 Free";
		font-weight: 900;
	}
	.btnc::before {
		content: "\f0c9";
		font-family: "Font Awesome 5 Free";
		font-weight: 900;
		padding: 0 10px;
		float: left;
		background-color: #34495e;
		color: #fff;
		cursor: pointer;
		font-size: 40px;
	}
	.main-wrapper-tabs{
		position: absolute;
		height: 100%;
	}
}