select {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  appearance: none;
  outline: 0;
  box-shadow: none;
  border: 0 !important;
  background: #2c3e50;
  background-image: none;
}

/* Custom Select */

.selectOp {
  position: relative;
  display: block;
  width: 18em;
  height: 3em;
  z-index: 1000;
  line-height: 3;
  background: #2c3e50;
  overflow: hidden;
}

option {
  cursor: pointer;
}

select {
  width: 100% !important;
  height: 100%;
  margin: 0;
  left: 0;
  bottom: 0;
  padding: 0 0 0 .5em;
  color: #fff;
  cursor: pointer;
}

select::-ms-expand {
  display: none;
}

/* Arrow */

.selectOp::after {
  content: '\25BC';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 1em;
  background: #34495e;
  pointer-events: none;
}

/* Transition */

.selectOp:hover::after {
  color: #f39c12;
  top: 0;
  right: 0;
  bottom: 0;
  padding: 0 1em;
  background: #34495e;
  pointer-events: none;
}

.selectOp::after {
  -webkit-transition: .25s all ease;
  -o-transition: .25s all ease;
  transition: .25s all ease !important;
}

@media screen and (max-width:800px) {
  selectOp:hover{
    content: "";
    display: block;
    width: 50%;
    height: 50%;
  }
  select {
    width: 60% !important;
    height: 100%;
    margin: 0;
    left: 0;
    padding: 0 0 0 .5em;
    color: #fff;
    cursor: pointer;
  }
}