input[type="radio"]{
    display: none;

}
input[type="radio"]+label {
    position: relative;
    margin: 0 10px;
    padding: 3px 0 0 4px;
    cursor: pointer;
}

input[type="radio"]+label::before {
    content: '';
    background: #fff;
    border: 2px solid #34495e;
    height: 17px;
    width: 17px;
    border-radius: 50%;
    position: absolute;
    top: 4px;
    left: -19px;
}

input[type="radio"]+label::after{
    content: '';
    background: #34495e;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    position: absolute;
    top: 9px;
    left: -14px;
    opacity: 0;
}
input[type="radio"]:checked+label::after{
    opacity: 1;
}