.ErrorMsg {
    margin: auto;
    text-align: center;
    box-sizing: border-box;
}

.btn-error {
    border: none;
    color: white;
    outline: none;
    cursor: pointer;
    font: inherit;
    padding: 10px;
    text-align: center;
    margin: 10px;
    font-weight: bold;
    border-radius: 4px;
    background: #34495e
}