
.header{
font-family: 'Roboto', sans-serif;
height: 100px;
position: relative;
background: #34495e;
padding: -1 20px;
color: #fff

}
.logo{
    margin-left: 30px;
    line-height: 100px;
    float: left;
    text-transform: uppercase;
}
.menu{
    float: right;
    line-height: 100px;
    margin-right: 50px;

}
.menu .link-class{
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    padding: 0 10px;
    transition: 0.4s
}
.show-menu-btn,.hide-menu-btn{
    transition: 0.4s;
    font-size:30px;
    cursor: pointer;
    display: none !important;
}
.show-menu-btn{
    float: right;
}


    
.show-menu-btn i{
    line-height: 100px;
}


.menu .link-class:hover,
.show-menu-btn:hover,.hide-menu-btn:hover{
    color: #3498db;
}
.chk{
    position: absolute;
    visibility: hidden !important;
    z-index: -1111;
}


@media screen and (max-width:800px){
    header{
        z-index: 1000;
    }
 .logo{
     position: absolute;
     top: -19px;
     left: 10px;
 }
 .show-menu-btn{
    left: 318px;
    position: absolute;
     
   
 }
    .show-menu-btn,.hide-menu-btn{
        display: block !important;
        position: absolute;
    }
    .menu{
        width: 60%;
        position: fixed;
        height: 100vh;
        background: #333;
        margin: 0 auto;
        top:0;
        text-align: center;
        padding: 80px 0;
        line-height: normal;
        transition: 0.7s;
    }
    .menu .link-class{
        display: block;
        padding: 20px;

    }
    .hide-menu-btn{
        position: absolute;
       
        top: 40px;
        right: 60px;
    }
    .text-block{
        display: none;
    }
   
}