* {
  margin: 0;
  padding: 0
}

.item-search-team-wrapper {
  margin: 10px auto;
  cursor: pointer;
  flex-direction: column;
  width: 600px;
  display: flex;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
  padding: 10px 10px;
  box-sizing: border-box;
  color: #3498db;
  transition: 0.6s;
  position: relative;
}

.team-full-item-search {
  width: 396px;
  height: 47px;
  left: 101px;
  border-bottom: 5px solid black;
  -webkit-transform: translateY(-20px) translateX(5px) rotate(27deg);
  transform: translateY(76px) translateX(0px) rotate(0deg);
  position: absolute;
}

.img-item-wrapper {
  height: calc(60%-40px);
  display: block;
  max-height: 180px !important;
  max-width: 100%;
  border-radius: 25px;
}

.img-item-search {
  width: 300px !important;
  height: auto;
  border-bottom-left-radius: 0px !important;
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
  border-bottom-right-radius: 0 !important;
}

.item-info-wrapper {
  height: 40%;
  display: flex;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.type-of-date-item-search {
  margin: 0;
  padding: 0;
  color: black;
  text-transform: uppercase
}

.icon-contral-search-item {
  padding: 10px;
}

.btn-view-search-team {
  background: #0000FF;
  border-radius: 11px;
  cursor: pointer;
  color: #ffffff;
  outline: none;
  margin-top: 2px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  padding: 10px 10px;
  margin: 4px auto;
  font-weight: bold;
  width: 100%;
  border: none;
  text-decoration: none;
}

@media screen and (max-width:800px) {
  .item-search-team-wrapper {
    width: 100%;
    height: 100%;
    margin: 50px auto;
  }
}