.main-general-info {
    display: flex;
    margin: 0;
    padding: 0;
    z-index: -1000;
    flex-direction: column;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif;
    background-image: url("../../../assest/general-info-step.jpeg");
    width: 100%;
    position: absolute;
    height: 100%;
    background-position: 0% 50%;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.from-general-info, .msg-instruction-general-info {
    height: 100%;
}

.msg-instruction-general-info {
    display: flex;
    flex-direction: column;
}

.error-input-name-general-info {
    position: absolute;
    float: left;
    left: -53px;
    top: 23px;
    width: 24%;
    margin: auto;
    align-items: left;
    display: block;
  
    color: red;
}

.msg-instruction-general-info span {
    width: 25%;
    top: 15%;
    padding: 20px;
    border: 1px solid black;
    left: 69%;
    position: absolute;
    z-index: -999;
}

.position-contral-general-info {
    position: relative;
    left: 390px;
    top: -200px;
}

.select-type-sport-general-info {
    width: 200px;
    height: 30px;
    border-radius: 10px;
    z-index: -999;
    position: absolute;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    position: absolute;
    z-index: -999;
    border: 0 !important;
    background: #2c3e50;
    background-image: none;
}

.option-menu-general-info {
    position: absolute;
    top: 47px;
    left: 370px;
    /* z-index: -999 !important; */
}

.input-name-of-team-general-info {
    background-color: transparent;
    position: absolute;
    width: 288px;
    height: 48px;
    top: 47px;
    left: 20px;
    cursor: pointer;
    display: block;
    outline: none;
    padding: 0 10px;
    box-sizing: border-box;
    border: 1px solid rgb(12, 11, 11)
}

.input-number-of-team-general-info {
    background-color: transparent;
    position: absolute;
    width: 288px;
    height: 48px;
    top: 120px;
    left: 20px;
    cursor: pointer;
    display: block;
    outline: none;
    padding: 0 10px;
    box-sizing: border-box;
    border: 1px solid rgb(12, 11, 11)
}

.input-image-of-team-general-info {
    background-color: transparent;
    position: absolute;
    width: 288px;
    height: 48px;
    top: 195px;
    left: 20px;
    opacity: 0;
    line-height: 10px;
    outline: none;
    cursor: pointer;
    padding: 0 10px;
    box-sizing: border-box;
}
.error-input-number-general-info{
    position: absolute;
    top: 88px;
    left: -573px;
    color: red !important;
}
.label-image-of-team-general-info {
    position: absolute;
    top: 195px;
    left: 20px;
    border: 1px solid rgb(12, 11, 11);
    width: 288px;
    height: 48px;
    padding: 15px 8px;
    color: #fff;
    cursor: pointer;
    text-align: left;
    font-size: 14px;
    margin: 2px;
}

.icon-upload-image-general-info {
    position: absolute !important;
    top: 207px;
    left: 258px;
}

.textarea-general-info {
    width: 400px;
    font-family: 'Roboto', sans-serif;
    height: 150px;
    overflow: auto;
    top: 300px;
    left: 15px;
    position: absolute;
    border: 1px solid black;
    color: black;
    background-color: transparent;
}

.textarea-general-info:focus {
    background-color: #fff;
}

.textarea-general-info::placeholder {
    font-size: 15px;
    padding: 10px 20px;
}

@media screen and (max-width:800px) {
    .main-general-info {
        display: flex;
        height: 130%;
        flex-direction: column-reverse !important;
    }
    .msg-instruction-general-info span {
        margin: 20px auto;
        width: 90%;
        height: auto;
        position: static;
        left: 0;
        top: 0;
        padding: 3px 6px;
        border: 1px solid black;
        display: block;
    }
    .position-contral-general-info {
        position: relative;
        left: 0 !important;
        top: 720px;
    }
    .from-general-info {
        display: block;
        margin: 0 auto;
        top: 180px;
        display: flex;
        flex-direction: column;
        left: 20px;
        position: absolute;
    }
    .input-wrapper-general-info {
        position: relative;
        top: 20px;
    }
    .option-menu-general-info {
        position: relative;
        left: 20px;
        top: 40px;
    }
    .error-msg-input {
        position: relative;
        left: -46px;
        top: -57px;
        font-weight: 500;
        color: red !important;
    }
    .error-input-name-general-info {
        position: relative;
        top: 13px;
        left: -48px;
    }
}