.main-auth {
  margin: 0;
  padding: 0;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
  background-image: url("../../assest/pexels-photo-235922.jpeg");
  width: 100%;
  position: absolute;
  height: 100%;
  background-position: 0% 62%;
  background-repeat: no-repeat;
  background-size: cover;
}


.logo-login {
  background-color: none;
  color: white;
  font-family: 'Roboto', sans-serif;
  font-weight: 1000;
  font-size: 50px;
  position: absolute;
  top: 10px;
  left: 10px;
}

.auth-title {
  font-weight: 500;
  text-transform: uppercase;
  color: white;
  margin: 0 auto;
}

.box-login{
  background-color: #34495e;
  width: 300px;
  padding: 40px;
  position: absolute;
  top: 50%;
  left: 75%;
  text-align: center;
  transform: translate(-50%, -50%)
}

.box-login input[type="text"], .box-login input[type="password"] {
  border: 0;
  background-color:transparent;
  margin: 33px auto;
  display: block;
  border: 2px solid #3498db;
  text-align: center;
  padding: 14px 10px;
  border-radius: 24px;
  width: 200px;
  outline: none;
  color: white !important;
  transition: 0.25s
}

.box-login input[type="text"]:focus, .box-login input[type="password"]:focus {
  width: 240px;
  border-color: white
}

.box-login input[type="submit"] {
  border: 0;
  background-color: none;
  margin: 38px auto;
  display: block;
  border: 2px solid #3498db;
  position: relative;
  text-align: center;
  padding: 14px 34px;
  border-radius: 24px;
  width: 100px;
  outline: none;
  color: #191919;
  transition: 0.25s;
  cursor: pointer;
}
.registrar-title::after{
  text-decoration: none !important;
}
.box-login input[type="submit"]:hover {
  background-color: green;
}

.msg-email, .msg-password {
  color: #ef5d09;
}
::placeholder {
  color: white !important;
  font-size: 1em;
}
.msg-email {
  left: 0 !important;
  top: 138px !important ;
  padding: -1px;
  position: absolute !important;
}

.msg-password {
  position: absolute;
  left: 0 !important;
  top: 220px !important;
  padding: -1px;
}

.auth-sing-up {
  margin-top: 10px;
  color: #efe409;
  position: absolute;
  text-transform: lowercase;
  text-decoration: none;
  left: 20px;
  cursor: pointer;
}

.auth-sing-up span {
  text-transform: uppercase;
}

.auth-sing-in-icon {

  position: absolute;
  left: 275px;
  top: 20px;
}

.auth-invalid {
  color: #ef5d09;
  position: absolute;
  top: 310px;
  left: 0px;
  text-transform: uppercase
}

.auth-new-user {
  font-size: 12px;
  text-transform: uppercase;
  position: absolute;
  left: 201px;
  cursor: pointer;
  top: 24px;
}

@media screen and (max-width:800px) {
  .box-login input[type="text"]:focus, .box-login input[type="password"]:focus {
    width: 210px;
    border-color: white
  }
  .main-auth {
    margin: 0 auto;
    background-position: 11% 62%;
  }
  
  .box-login {
    background-color: #34495e;
    width: 300px;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    margin: 0 auto;
    left: 50%;
    text-align: center;
    transform: translate(-80%, -50%)
  }
  .auth-new-user {
    left: 207px;
    top: 24px;
    box-sizing: border-box;
  }
  .auth-sing-up {
    color: #efe409;
    position: absolute;
    text-transform: lowercase;
    text-decoration: none;
    left: 55px;
  }
  .auth-sing-in-icon {
    left: 274px;
    top: 20px;
    cursor: pointer;
  }
  .msg-email, .msg-password {
    position: static;
  }
  .auth-invalid {
    top: 350px;
    left: 32px;
  }
}