.wrapper-chat-board-container {
    display: flex;
    width: 80%;
    margin: 10px auto;
}

.wrapper-chat-bored {
    background: linear-gradient(0deg, #1E2C3D 00%, #3E364E 100%);
    margin: 10px auto;
    max-width: 500px;
    height: 650px;
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    /*border : 1px solid #000;*/
    /* overflow: hidden; */
    position: relative;
    display: flex;
    flex-direction: column;
    transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}

.team-name-chat-board {
    margin: 10px auto;
    padding: 23px;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    color: #3E364E;
    box-sizing: border-box;
}

.display-info-mobile {
    display: block !important;
    width: 25%;
}

.input-chat-board {
    /* margin-bottom: auto; */
    display: inline-block;
    width: 100%;
    height: 50px;
    border: none;
    background: rgba(0, 0, 0, 0.3);
    color: black;
    padding: 0.7em;
}

.wrapper-input-chat-board {
    margin-bottom: auto;
    position: relative;
    top: 100px;
    background: #DFDFEF;
    font-size: 10px;
    margin-bottom: auto;
}

.chat-team-bored {
    padding: 20px;
    width: 500px;
    height: 500px;
    overflow-y: scroll;
    /* scroll-behavior: smooth; */
}

.mobile-name-of-team {
    display: none;
}

.send-msg-chat-board {
    position: absolute;
    top: 0px;
    left: 0;
    float: left;
    left: 450px;
    border: none;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: #514865;
}

.send-msg-chat-board:hover {
    background-color: #433a56;
}

.send-msg-chat-board::after {
    content: "";
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    content: "\f1d8";
    cursor: pointer;
}

@media screen and (max-width:800px) {
    .wrapper-chat-board-container, .wrapper-chat-bored {
        width: 100%;
        margin: auto;
    }
    .chat-team-bored {
        width: 100%;
        max-height: 500px;
        overflow-y: auto;
    }
    .display-info-mobile {
        display: none !important
    }
    .mobile-name-of-team {
        display: block;
        padding: 10px;
        text-transform: uppercase;
        font-size: 20px;
        font-weight: 700;
        color: #fff;
        background: linear-gradient(0deg, #1E2C3D 00%, #3E364E 100%);
        box-sizing: border-box;
    }
    .info-logo-team-info {
        float: left;
        left: 28px;
        cursor: pointer;
        font-size: 20px;
        position: relative;
        /* clear: both; */
    }
    .wrapper-input-chat-board {
        position: relative;
        display: inline-block;
        top: 19px;
    }
    .send-msg-chat-board {
        display: inline-block;
        border: none;
        padding: 0;
        width: 14%;
        float: right;
        margin: 0;
        position: static;
        left: 0;
        top: 0
    }
    .wrapper-input-moblie {
        display: inline-block;
        width: 86%;
    }
}