.wrapper-chat-bored {
    background: linear-gradient(0deg, #1E2C3D 00%, #3E364E 100%);
    margin: 100px auto;
    max-width: 500px;
    height: 650px;
    box-shadow: 0 5px 30px rgba(0, 0, 0, 0.3);
    /*border : 1px solid #000;*/
    /* overflow: hidden; */
    position: relative;
    display: flex;
    flex-direction: column;
    transition: all 0.3s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}

.input-chat-board {
    /* margin-bottom: auto; */
    display: inline-block;
    width: 100%;
    height: 50px;
    border: none;
    background: rgba(0, 0, 0, 0.3);
    color:black;
    padding: 0.7em;
}

.wrapper-input-chat-board {
    margin-bottom: auto;
    position: relative;
    top: 100px;
    background: #DFDFEF;
    font-size: 10px;
    margin-bottom: auto;
}

.chat-team-bored {
    padding: 20px;
    width: 500px;
    height: 500px;
    overflow-y: auto;
 
}
.send-msg-chat-board {
    position: absolute;
    top: 0px;
    left: 0;
    float:left;
    left: 450px;
    border: none;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background-color: green;
}

.send-msg-chat-board::after {
    content: "";
    font-family: "Font Awesome 5 Free";
    font-weight: bold;
    content: "\f1d8";
    cursor: pointer;
}