.main-wrapper-about {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
  z-index: -1000;
  background-image: url("https://res.cloudinary.com/diyrxbb9o/image/upload/v1554476417/athlete-depth-of-field-exercise-1257245.jpg");
  width: 100%;
  position: absolute;
  background-position: 0% 50%;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.title-about {
  font-weight: 800;
  font-size: 30px;
  color: #34495e;
  padding: 10px;
}

.info-about {
  width: 57%;
  color: #ffffff;
  background: #fff;
  margin-left: auto;
  margin-right: auto;
  line-height: 24pt;
  padding: 10px 10px;
  text-align: center;
  box-shadow: 2px 2px 2px 2px #fff;
}

.btn-about {
  background: #34495e;
  border-radius: 11px;
  cursor: pointer;
  color: #ffffff;
  outline: none;
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  font-weight: bold;
  padding: 14px 52px;
  border: none;
  z-index: -1000;
  text-decoration: none;
}

.btn-position-about {
  margin: 20px auto;
  z-index: -1000;
}

.article-about {
  background-color: white;
  color: gray;
  padding: 13px;
  font-weight: 600;
}

@media screen and (max-width: 800px) {
  .main-wrapper-about {
    width: 100%;
    overflow: auto;
    max-height: 550px;
  }
  .info-about {
    width: 100%;
    overflow: auto;
    padding: 5px;
    margin: 56px auto;
  }
  .btn-position-about {
    position: static;
    top: 0;
    left: 0;
    margin: 30px auto;
  }
}
