.next-btn-team-create {
 
    background:#0000FF;
    border-radius: 11px;
    cursor: pointer;
    color: #ffffff;
    outline: none;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding: 14px 52px;
    border: none;
    text-decoration: none;

}
.next-btn-team-create:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.previous-btn-team-create {
    background: red;
    border-radius: 11px;
    cursor: pointer;
    color: #ffffff;
    outline: none;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding: 14px 38px;
    text-decoration: none;

}

