* {
    padding: 0;
    margin: 0
}

.main-team-manager-card {
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    display: flex;
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.image-team-manager-card {
    margin: 10px auto;
    width: 300px;
    height: auto;
}

.basic-info-team-manager-card {
    margin: 10px auto;
    max-width: 50%;
}

.about-the-team-card-manager {
    width: 30%;
    line-height: 20pt;
}
.type-location-wrapper-team-card-info{
    display: flex;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin: 10px auto;
}
.type-of-sport-team-card-info{
    position: relative;
    left:200px;
    top: 0
}
.location-team-card-info{
    position: relative;
    left:-172px;
    top: 0;
}
.type-of-sport-team-card-info,.location-team-card-info {
    width: 1 1 ;
    padding: 0;
    margin: 0;
    font-weight: 700;
    width: 100%;
    color: black !important;
    float: left;
    text-transform: uppercase;
}
li {
    list-style-type: none;
    line-height: 22pt;
}

.fas {
    color: #3498db;
}

.date-type-card-manager-info {
    text-decoration: none;
    border-bottom: 1px solid black;
}
.btn-submit-manager-card{
background:#0000FF;
border-radius: 11px;
cursor: pointer;
color: #ffffff;
outline: none;
font-family: 'Roboto', sans-serif;
font-size: 15px;
font-weight: bold;
padding: 14px 52px;
border: none;
text-decoration: none;
}
@media screen and (max-width:800px) {
    .about-the-team-card-manager {
        width: 100%;
    }
    .type-of-sport-team-card-info,.location-team-card-info{
        left: 0;
    }
}