
*{
    padding: 0;
    margin: 0
}

.main-team-manager-card {
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    display: flex;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.image-team-manager-card {
    margin: 10px auto;
    width: 300px;
    height: auto;
}

.basic-info-team-manager-card {
    margin: 10px auto;
    max-width: 50%;
}
.about-the-team-card-manager{
    width: 30%;
    line-height: 20pt;
}