.wrapper-search-team {
    display: flex;
    margin: 10px auto;
    width: inherit
}

.search-by-categorie {
    display: flex;
    flex-direction: column;
}

.msg-search-categorie {
    margin: auto;
    color: #3498db;
    position: relative;
    left: -50px;
    text-decoration: underline;
}

.wrapper-check-box {
    margin: 10px auto;
    display: flex;
    width: 600px;
    flex-wrap: wrap;
}

.icon-contral-search-item {
    margin: auto;
}

span {
    font-size: 25px;
    margin: 0;
    padding: 10px;
    cursor: pointer;
}

.submit-search-wrapper {
    position: relative;
    left: -50px;
}

.wrapper-items-search-team {
    display: flex;
    align-items: flex-start;
    width: 400px;
    flex-direction: column;
    margin-top: 10px;
    top: 5px;
    position: relative;
    left: 40px
}

.text-no-team-search-Team {
    background-color: #74777b;
    color: white;
    font-weight: 900;
    text-transform: uppercase;
    height: 39px;
    margin: auto;
    font-size: 30px;
    text-align: center;
}

.check-box-search-team {
    width: 33%;
    padding-left: 19px;
}

.map-search-team-wrapper {
    width: 50%;
    height: auto;
    padding: 0;
    overflow: hidden
}

.btn-search-team {
    background: #0000FF;
    border-radius: 11px;
    cursor: pointer;
    color: #ffffff;
    outline: none;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: bold;
    padding: 14px 52px;
    border: none;
    text-decoration: none;
}

.btn-search-team::after {
    content: "\f002";
    font-family: "Font Awesome 5 Free";
    font-weight: 900;
    padding: 2px;
}

@media screen and (max-width:800px) {
    .wrapper-search-team {
        display: flex;
        flex-direction: column;
        z-index: -999;
        margin: 0 auto
    }
    .search-by-categorie {
        margin: 20px auto;
        left: 0;
        right: 0;
    }
    .submit-search-wrapper {
        position: relative;
        left: -129px;
    }
    .msg-search-categorie {
        margin: auto;
        color: #3498db;
        position: relative;
        left: -132px;
        text-decoration: underline;
    }
}