* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.main-form-profile {
    margin: 0px auto;
    overflow: hidden;
    border-radius: 0px;
    width: 100%;
    justify-content: center;
    display: flex !important;
    flex-direction: column;
}

.wrapper-view-profile {
    background-color: #fff;
    width: 100%;
    height: 100%;
}

form {
    width: 80%;
    margin: 0 auto;
    background: #FAFAFA;
}

.input-first-last-group-profile, .radio-group-profile {
    margin: 10px auto;
    display: block;
}

.radio-group-profile {
    width: 100%;
    margin: 15px auto;
}

.single-radio-input-profile {
    display: inline;
    margin: 0 15px
}

.input-first-last-group-profile {
    width: 50%;
    margin: auto;
}

.inputs-profile {
    padding: 13px;
    outline: 0;
    margin: 0;
    border-radius: 5px;
    border: 1px solid #B0CFE0;
    cursor: pointer;
    width: 100%;
    color: black;
    margin-bottom: 30px;
}

.inputs-profile:focus {
    box-shadow: 0 0 5px #B0CFE0;
    border: 1px solid #B0CFE0;
    cursor: pointer;
}

.sport-type-checkbox-profile {
    display: flex;
    align-items: flex-start;
    position: relative;
    flex-flow: row wrap;
    width: 60%;
    margin: 20px auto;
}

.individual-checkbox-profile {
    flex: 15%;
    ;
    margin: 10px auto;
}

.textarea-profile {
    padding: 13px;
    outline: 0;
    width: 60%;
    min-height: 200px;
    margin: 10px auto;
    border-radius: 5px;
    border: 1px solid #B0CFE0;
    font-family: 'Roboto', sans-serif;
}

.textarea-profile:focus {
    box-shadow: 0 0 5px #B0CFE0;
    border: 1px solid #B0CFE0;
    cursor: pointer;
}

.upload-image {
    width: 50%;
    margin: 10px auto;
    position: relative;
}

.label-upload-filed-profile {
    display: block;
    padding: 14px 45px;
    background: #39D2B4;
    color: #fff;
    width: 40%;
    font-size: 1em;
    margin: 0 auto;
    transition: all .4s;
    cursor: pointer;
}
.input-upload-file-image-profile {
    position: absolute;
    top: 59px;
    left: 160px;
    width: 215px;
    opacity: 0;
    padding: 14px 0;
    cursor: pointer;
}
.upload-image-icon-profile{
    position: absolute;
    top: 67px;
    left: 335px;
    color: white;
    font-size: 24px;
   
}

 
.button-submit {
    width: 430px;
    height: 45px;
    border: none;
    position: relative;
    display: block;
    margin: 10px auto;
    cursor: pointer;
    outline: none;
    box-shadow: 0 3px 2px 0 #2c80a2;
    color: #fff;
  
    text-shadow: 0 1px rgba(0, 0, 0, 0.4);
    background-color: #3fb8e8;
    font-weight: 500;
    font-size: 20px;
    background-repeat: no-repeat;
    background-position: 200px;
}

p {
    font-weight: 700;
    color: #3498db;
    width: 100%;
    margin: 10px auto
}

@media screen and (max-width:800px) {
    .sport-type-checkbox-profile {
        width: 100% !important;
        left: 31px !important
    }
    .individual-checkbox-profile {
        flex: 50%;
        ;
        /* min-width: 100px; */
        margin: 10px auto;
    }
    .fieldset-upload-group {
        flex-direction: column !important;
    }
    .upload-image {
        width: 100%;
    }
    textarea {
        width: 100% !important;
    }
    .radio-group-profile {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
    }
    .single-radio-input-profile {
        position: relative;
        margin: 0px 30px;
        display: block;
        padding: 12px 0 0 4px;
        cursor: pointer;
    }
}